:root{
    --background-color: blue;
    --padding: 10px;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20%;
}
h1 {
    color: var(--background-color);
}
 img {
    width: 150px;
    height: auto;
    border: 1px solid black; 
    padding: var(--padding);
    box-shadow: 0 0 30px;
 }
 p {
    padding: 10px;
 }