.callout {
	max-width: 400px;
    margin: 10px;
    border: 10px;
    padding: 10px;
    background-color: blue;
    color: whitesmoke;

}

.callout img {
    background-color: gray;
    float: inline-end;
    padding: 10px;
    width: 150px;
    height: 100px;
    border: 1px solid black ;
    margin: 5px;

	
}

blockquote {
	margin: 10px;
}

cite {
    display: block;
    border-top: 1px dotted wheat;
    padding-top: 15px;
    text-align: right;
    font-size: medium;
}