*{
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: gray;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
main {
    width: 400px;
    margin: 0  auto;
}
h1 {
    margin: 10px;
    text-align: center;
}
h2{
    border-bottom: solid black;
}
ul{
    margin: 10px 20px 0;
    
}
img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}
section{
    margin: 20px 0;
    #border: 1px solid rgb(0 0 0 / 100%);
    padding: 10px;
    background-color: rgb(143, 143, 219);
}
footer{
    font-size: smaller;
}